/* Временные стили. Разметка */

.m-hide {
  display: none;
}

.page::before,
.header::before,
.footer::before,
.l-wrapper::before,
.header__item::before,
.slider::before,
.banner::before,
.catalog::before,
.shop-info::before,
.page__section::before,
.slider__item::before,
.banner__item::before,
.catalog__item::before,
.shop-info__list::before,
.shop-info__item::before,
.blog::before,
.subscription::before,
.footer__item::before,
.breadcrumbs::before,
.breadcrumbs__item::before,
.catalog-filter::before,
.catalog-filter__item::before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Roboto-Regular", "Arial", sans-serif;
  color: #ffffff;
}

/* Уровень - 1 */
.page,
.header,
.footer {
  position: relative;
  background-color: rgba(255, 0, 0, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 0, 0);
}

.page::before,
.header::before,
.footer::before {
  background-color: rgb(255, 0, 0);
}

.page::before {
  content: ".page";
}

.header::before {
  content: ".header";
}

.footer::before {
  content: ".footer";
}

/* Уровень - 2 */
.l-wrapper,
.map {
  position: relative;
  background: rgba(255, 255, 0, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 255, 0);
}

.l-wrapper::before,
.map::before {
  background-color: rgb(255, 255, 0);
}

.l-wrapper::before {
  content: ".l-wrapper";
}

.map::before {
  content: ".map";
}

/* Уровень - 3 */

.header__item,
.slider,
.banner,
.catalog,
.shop-info,
.page__section,
.footer__item,
.breadcrumbs,
.catalog-filter,
.pagination {
  position: relative;
  background-color: rgba(0, 255, 0, 0.2);
  box-shadow: 0 0 0 3px rgb(0, 255, 0);
}

.header__item::before,
.slider::before,
.banner::before,
.catalog::before,
.shop-info::before,
.page__section::before,
.footer__item::before,
.breadcrumbs::before,
.catalog-filter::before,
.pagination::before {
  right: 0;
  left: auto;
  background-color: rgb(0, 255, 0);
}

.header__item::before {
  content: ".header__item";
}

.slider::before {
  content: ".slider";
}

.banner::before {
  content: ".banner";
}

.catalog::before {
  content: ".catalog";
}

.shop-info::before {
  content: ".shop-info";
}

.page__section::before {
  content: ".page__section";
}

.footer__item::before {
  content: ".footer__item";
}

.breadcrumbs::before {
  content: ".breadcrumbs";
}

.catalog-filter::before {
  content: ".catalog-filter";
}

/* Уровень - 4 */
.slider__item,
.banner__item,
.catalog__item,
.shop-info__list,
.blog,
.subscription,
.breadcrumbs__item,
.catalog-filter__item,
.pagination__item {
  position: relative;
  background-color: rgba(0, 255, 255, 0.2);
  box-shadow: 0 0 0 3px rgb(0, 255, 255);
}

.slider__item::before,
.banner__item::before,
.catalog__item::before,
.shop-info__list::before,
.blog::before,
.subscription::before,
.breadcrumbs__item::before,
.catalog-filter__item::before,
.pagination__item::before {
  background-color: rgb(0, 255, 255);
}

.slider__item::before {
  content: ".slider__item";
}

.banner__item::before {
  content: ".banner__item";
}

.catalog__item::before {
  content: ".catalog__item";
}

.shop-info__list::before {
  content: ".shop-info__list";
}

.blog::before {
  content: ".blog";
}

.subscription::before {
  content: ".subscription";
}

/* Уровень - 5*/

.shop-info__item {
  position: relative;
  background-color: rgba(0, 0, 255, 0.2);
  box-shadow: 0 0 0 3px rgb(0, 0, 255);
}

.shop-info__item::before {
  content: ".shop-info__item";
  right: 0;
  left: auto;
  background-color: rgb(0, 0, 255);
}
