body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  background-color: #849d8f;
}

.slider__title {
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
}

.banner__title {
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
}
